.markdown-section {
    color:#000;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.markdown-section h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 2.7em;
}
.markdown-section h2 {
    font-weight: 300;
    font-size: 1.5em;
}
.book-summary {
    background:#f1f1f1;
    background:#24a2ec url('/assets/logo-scratch.png');
    background-repeat:no-repeat;
    background-size:230px auto;
    background-position:center 30px;
    font-size:1.2em;

}
.book-summary ul.summary {
    margin-top:200px;
}
.book-summary ul.summary li.header {
    
    color: #000;
    font-weight:600;
    font-size:1.1em;
    margin-top:5px;
    transition:all ease 0.3s;
    text-transform:initial;
}
.book-summary ul.summary li a:hover,
.book-summary ul.summary li span:hover {
    color: #069df0;
    color:#fff;

    text-decoration:none;
    cursor:pointer;

}
.book-summary ul.summary li a, 
.book-summary ul.summary li span {
   margin-top:0;
    font-weight:400;
    font-size:1em;
    padding: 5px 15px 5px 23px;
    color:#fff;
}
.book-summary ul.summary li.active > a,
.markdown-section a {
    color: #069df0;
    text-decoration: none;
    background: 0 0;
    color:#f7a31d;
    font-weight:800;
}
.markdown-section img {
    border-radius: 3px;
}

.fancybox-skin {
    padding: 2px !important;
    border-radius: 3px !important;
}

.fancybox-image {
    border-radius: 3px !important;
}
img {
    margin:15px 0;
 
}
.noembed-wrapper.noembed-type-video {
    margin:40px 0;
    height:430px !important;

}
.book-summary ul.summary li ul {
    padding-left: 0;
}
nav {
    padding-left:15px;
    
}

a.gitbook-link {
    visibility:hidden;
}